<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="/css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->
	<title>FAQ</title>
</head>
<body>
  <header>
	 <h1>FAQ</h1>
  </header>
  
  {% set foo %}
  <label for="subj">Тема</label>
  <select id="subj" name="subjects_assign">
    {% for line in subjects %}
      <option name='idSubject' value={{line.id}}>{{line.name}}</option>
    {% endfor %}
  </select>
  {% endset %}

  {% set authors %}
  <label for="authors">Автор</label>
  <select id="authors" name="ath_assign">
    {% for line in authors %}
      <option name='idAuth' value={{line.id}}>{{line.name}}</option>
    {% endfor %}
  </select>
  {% endset %}

  <section class="cd-faq">
	  {% block main %}
	  <ul class="cd-faq-categories">
		  {% for line in subjects %}
		<li><a href="#{{line.name}}">{{line.name}} {{line.count}}/{{line.count2}}</a></li>
		  {% endfor %}
	  </ul> <!-- cd-faq-categories -->
    {% endblock main %}
	
    <div class="cd-faq-items">
      <p>Фильтры: <a href='/admin/nonanswered'>Без ответа</a>/<a href='/admin/nonpublished'>Не опубликованы</a>/<a href='/admin'>Все</a></p>
      {% block one %}
        {% for key, q in quanda %}
          <ul id="{{key}}" class="cd-faq-group">
            <li class="cd-faq-title"><h2>{{key}}</h2></li>
              {% for qu in q %}
			          <form action="{{ route('changequestion') }}" method="POST">
                  <input type="hidden" name="_token" value="{{ csrf_token() }}">
                  <input type="hidden" name="qID" value="{{qu.quid}}">
                  <input type="hidden" name="aID" value="{{qu.aid}}">
			            <li>
				            <a class="cd-faq-trigger" href="#{{q.id}}">{{qu.question}}</a>
				            <div class="cd-faq-content">
                      <p>Время создания вопроса: {{qu.timeadd}}</p>
                      <p>Автор вопроса: {{qu.author}}</p>
                      {% if qu.quvisible == 1 %}<p>Статус: опубликовано</p>{% endif %}
                      {% if qu.quvisible == 0 %}<p>Статус: вопрос не опубликован</p>{% endif %}
					            <p><textarea rows="10" cols="45" name="text" value='' required minlength="5" maxlength="1000">{{qu.answer}}</textarea></p>
                      <p><input type="submit" name='action' value="Ответить"></p>
					            {% if qu.quvisible == 0 %}
                      <p><input type="submit" name='action' value="Публиковать"></p>{% endif %}
                      {% if qu.quvisible == 1 %}
                      <p><input type="submit" name='action' value="Убрать из публикации"></p>{% endif %}
					            <p>{{foo}}<input type="submit" name='action' value="Изменить тему"></p>
					            <p>{{authors}}<input type="submit" name='action' value="Изменить автора"></p>	
                      <p><input type="submit" name='action' value="Удалить вопрос"></p>
				            </div> <!-- cd-faq-content -->
			            </li>
		           </form>
		          {% endfor %}
					</ul> <!-- cd-faq-group -->
        {% endfor %}
      {% endblock one %}

	  </div> <!-- cd-faq-items -->
	    <a href="#0" class="cd-close-panel">Close</a>
  </section> <!-- cd-faq -->
  
  <section class="cd-faq">
    <div class="cd-faq-items">
      <h2 class="cd-faq-group">Редактирование тем</h2>
      <table>
        <tr>
          <th>Тема</th>
          <th>Всего</th>
          <th>Непубликовано</th>
          <th>Неотвечено</th>
          <th>Действие</th>
        </tr>
        {% for line in subjects %}
        <tr><form method="GET" action="{{ route('delsubject') }}"><input type="hidden" name="_token" value="{{ csrf_token() }}"><td><input type="hidden" name="sub_id" value={{line.id}}>{{line.name}}</td>
          <td>{{line.count3}}</td>
          <td>{{line.count}}</td>
          <td>{{line.count2}}</td>
          <td><input type="submit" name="delete" value="Удалить" /></td></form>
        </tr>
      {% endfor %}
        <tr><form method="GET" action="{{ route('newsubject') }}"><input type="hidden" name="desc_id" value={{line.id}}><td><input type="text" name="subject" value="" required minlength="3" maxlength="50"></td>
         <td><input type="submit" name="add" value="Добавить" /></td></form></tr>
      </table>
    </div>
  </section>

  <section class="cd-faq">
    <div class="cd-faq-items">
      <h2 class="cd-faq-group">Редактирование администраторов</h2>
        <table>
          <tr>
            <th>Логин</th>
            <th>Пароль</th>
            <th>Действие</th>
          </tr>
         {% for line in users %}
          <tr><form method="GET" action="{{route('chadmin') }}"><input type="hidden" name="_token" value="{{ csrf_token() }}"><td><input type="hidden" name="admin_id" value={{line.id}}>{{line.name}}</td><td><input type="password" name="password" placeholder="password" value="" minlength="6" maxlength="50"></td>
         <td><input type="submit" name="action" value="Удалить" /><input type="submit" name="action" value="Сменить пароль" /></td></form></tr>
      {% endfor %}
          <tr><form method="get" action="{{ route('newadmin') }}"><input type="hidden" name="_token" value="{{ csrf_token() }}"><td><input type="text" placeholder="name" name="name" value="" required minlength="3" maxlength="50"></td>
         <td><input type="password" name="password" required placeholder="password" value="" minlength="6" maxlength="50"></td><td><input type="submit" name="add" value="Добавить" /></td></form></tr>
        </table>
    </div>
  </section>


  <section class="cd-faq">
    <div class="cd-faq-items">
      <p><a href="/logout">Выйти</a></p><p><a href="/">На главную</a></p>
    </div>
  </section>

  <script src="js/jquery-2.1.1.js"></script>
  <script src="js/jquery.mobile.custom.min.js"></script>
  <script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>