<!DOCTYPE doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link href="/assets/img/favicon.ico" rel="icon" type="image/png">
            <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
            <title>
                Админ панель
            </title>
            <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
            <meta content="width=device-width" name="viewport"/>
            <!-- Bootstrap core CSS     -->
            <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
            <!-- Animation library for notifications   -->
            <link href="/assets/css/animate.min.css" rel="stylesheet"/>
            <!--  Light Bootstrap Table core CSS    -->
            <link href="/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>
            <!--  CSS for Demo Purpose, don't include it in your project     -->
            <link href="/assets/css/demo.css" rel="stylesheet"/>
            <!--     Fonts and icons     -->
            <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
                <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
                    <link href="/assets/css/pe-icon-7-stroke.css" rel="stylesheet"/>
                </link>
            </link>
        </link>
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
                <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->
                <div class="sidebar-wrapper">
                    <div class="logo">
                        <a class="simple-text" href="/dashboard">
                            FAQ
                        </a>
                    </div>
                    <ul class="nav">
                        <li class="active">
                            <a href="/dashboard">
                                <i class="pe-7s-note">
                                </i>
                                <p>
                                    Вопросы/Ответы
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="/subjects">
                                <i class="pe-7s-note2">
                                </i>
                                <p>
                                    Темы
                                </p>
                            </a>
                        </li>
                        <li>
                            <a href="/users ">
                                <i class="pe-7s-user">
                                </i>
                                <p>
                                    Пользователи
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <nav class="navbar navbar-default navbar-fixed">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button class="navbar-toggle" data-target="#navigation-example-2" data-toggle="collapse" type="button">
                                <span class="sr-only">
                                    Toggle navigation
                                </span>
                                <span class="icon-bar">
                                </span>
                                <span class="icon-bar">
                                </span>
                                <span class="icon-bar">
                                </span>
                            </button>
                            <a class="navbar-brand" href="#">
                                Dashboard
                            </a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="/logout">
                                        <p>
                                            Log out
                                        </p>
                                    </a>
                                </li>
                                <li class="separator hidden-lg">
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="content">
                    <div class="container-fluid">

                    <div class="row">
                    <div class="col-md-8">
                                    {% if message != '' %}
                        <div class="alert alert-info">
                                    <span>{{message}}</span>
                                </div>
                                {% endif %}
                                </div>
                                </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card ">
                                    <div class="header">
                                        <h4 class="title">
                                            Вопросы
                                        </h4>
                                        <nav class="navbar navbar-default">
                                            <div class="container-fluid">
                                                <div class="navbar-header">
                                                </div>
                                                <div class="collapse navbar-collapse">
                                                    <ul class="nav navbar-nav navbar-left">
                                                    </ul>
                                                    <ul class="nav navbar-nav navbar-right">
                                                        <li class="dropdown">
                                                            <a class="dropdown-toggle" data-toggle="dropdown" href="/">
                                                                <p>
                                                                    Фильтр
                                                                    <b class="caret">
                                                                    </b>
                                                                </p>
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a href="/dashboard/unanswer">
                                                                        Без ответа
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    <a href="/dashboard/unpublished">
                                                                        Неопубликованы
                                                                    </a>
                                                                </li>
                                                                <li class="divider">
                                                                </li>
                                                                <li>
                                                                    <a href="/dashboard">
                                                                        Все вопросы
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="separator hidden-lg hidden-md">
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                    <div class="content">
                                        <div class="table-full-width">
                                            <table class="table">
                                                <tbody>
                                                    <thead>
                                                        <th>
                                                            Вопрос
                                                        </th>
                                                        <th>
                                                            Дата создания
                                                        </th>
                                                        <th>
                                                            Статус
                                                        </th>
                                                        <th>
                                                            Ответ
                                                        </th>
                                                        <th>
                                                            Тема
                                                        </th>
                                                        <th>
                                                            Действия
                                                        </th>
                                                    </thead>
                                                    {% for qu in quanda %}
                                                    <tr>
                                                        <form method="POST">
                                                            <input name="_token" type="hidden" value="{{ csrf_token() }}">
                                                                <input name="question_id" type="hidden" value="{{qu.quid}}">
                                                                    <td>
                                                                        {{qu.question}}
                                                                    </td>
                                                                    <td>
                                                                        {{qu.timeadd}}
                                                                    </td>
                                                                    <td>
                                                                        {% if qu.quvisible == 1 %}
                                                                        <p>
                                                                            опубликовано
                                                                        </p>
                                                                        {% endif %}
                                                                {% if qu.quvisible == 0 %}
                                                                        <p>
                                                                            вопрос не опубликован
                                                                        </p>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {% if qu.answer != '' %}
                                                                        <p>
                                                                            отвечен
                                                                        </p>
                                                                        {% endif %}
                                                                        {% if qu.answer == '' %}
                                                                        <p>
                                                                            без ответа
                                                                        </p>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td>
                                                                        {{qu.subject}}
                                                                    </td>
                                                                    <td class="td-actions text-left">
                                                                        <button class="btn btn-info btn-simple btn-xs" formaction="/question" rel="tooltip" title="Edit" type="submit">
                                                                            <i class="fa fa-edit">
                                                                            </i>
                                                                        </button>
                                                                        <button class="btn btn-danger btn-simple btn-xs" formaction="{{ route('delquestion')}}" rel="tooltip" title="Remove" type="submit">
                                                                            <i class="fa fa-times">
                                                                            </i>
                                                                        </button>
                                                                    </td>
                                                                </input>
                                                            </input>
                                                        </form>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <footer class="footer">
                    </footer>
                </div>
            </div>
        </div>
    </body>
    <!--   Core JS Files   -->
    <script src="/assets/js/jquery.3.2.1.min.js" type="text/javascript">
    </script>
    <script src="/assets/js/bootstrap.min.js" type="text/javascript">
    </script>
    <!--  Charts Plugin -->
    <script src="/assets/js/chartist.min.js">
    </script>
    <!--  Notifications Plugin    -->
    <script src="/assets/js/bootstrap-notify.js">
    </script>
    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE" type="text/javascript">
    </script>
    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="/assets/js/light-bootstrap-dashboard.js?v=1.4.0">
    </script>
    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="/assets/js/demo.js">
    </script>
</html>
